@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.delay-5 {
  animation-delay: 1s;
}

.delay-6 {
  animation-delay: 1.2s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #f3f3f3;
}

html {
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

.inner {
  width: 80%;
}

.section-padding {
  padding-top: 7rem;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .section-padding {
    padding-top: 50px;
  }
}

.title h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .title h2 {
    font-size: 2.25rem;
    margin-bottom: 30px;
  }
}

.col-padding {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1200px) {
  .col-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.col-half-padding {
  padding-left: 20px;
  padding-right: 20px;
}

#header {
  height: 480px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#header .header__logo span.header__title {
  font-size: 6rem;
  margin-bottom: 30px;
  display: block;
}

#header .header__logo span:nth-child(2) {
  position: relative;
  display: inline-block;
  font-size: 2.25rem;
}

#header .header__logo span:nth-child(2) .header__overlay {
  height: 110%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #000;
  animation: typing 2s steps(13, end) infinite;
  -webkit-animation: typing 2s steps(13, end) infinite;
}

@media screen and (max-width: 768px) {
  #header {
    height: 200px;
  }
  #header .header__logo span.header__title {
    font-size: 3.5rem;
    margin-bottom: 15px;
  }
  #header .header__logo span:nth-child(2) {
    font-size: 16px;
  }
}

#portfolioNavbar {
  background-color: #f3f3f3;
}

#portfolioNavbar a {
  color: #000;
  letter-spacing: 1px;
}

#portfolioNavbar .navbar-brand {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-top: 0;
  box-shadow: 0 1px 6px #aaa;
}

#portfolioNavbar .nav-link {
  font-size: 24px;
  padding: 8px 20px;
  transition: 0.3s all;
  color: #000;
}

#portfolioNavbar .nav-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #portfolioNavbar .nav-link {
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s all;
    color: #000;
  }
  #portfolioNavbar .nav-link:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
}

#footerNavbar.navbar {
  padding: 0;
}

#footerNavbar.navbar .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

#footerNavbar.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  padding: 0;
  transition: 0.3s all;
  color: #fff;
}

#footerNavbar.navbar .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #footerNavbar.navbar .navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#footer {
  background-color: #333;
  padding: 30px;
}

#footer p {
  margin-top: 30px;
  font-size: 12px;
  color: #8c8c8c;
}

@media screen and (max-width: 576px) {
  #footer {
    padding: 20px;
  }
  #footer p {
    margin-top: 10px;
  }
}

#backToTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 1.5rem;
}

#profile .profile__content .profile__img img {
  border-radius: 50%;
}

#profile .profile__content .profile__text {
  display: flex;
  align-items: center;
}

#profile .profile__content .profile__text p {
  padding-left: 30px;
  font-weight: 300;
}

#skill .skill_content .skill__card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 50px;
  background-color: #fff;
  text-align: center;
  height: 300px;
}

#skill .skill_content .skill__card .skill__title {
  margin-bottom: 3px;
  font-size: 1.625rem;
  padding: 1.5rem;
  font-weight: 700;
}

#skill .skill_content .skill__card .skill__desc ul {
  list-style: none;
  margin-bottom: 2rem;
  padding-left: unset;
}

#skill .skill_content .skill__card .skill__desc ul li {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 20px;
  font-size: 18px;
}

#skill .skill_content .skill__card .skill__desc div {
  margin-bottom: 15px;
}

#skill .skill_content .skill__card .skill__desc div span {
  font-weight: 300;
  font-size: 14px;
}

#skill .skill_content .skill__card .skill__desc.skill__others ul li, #skill .skill_content .skill__card .skill__desc.skill__language ul li {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #skill .skill_content .skill__card {
    margin-bottom: 30px;
  }
}

#project .project__content .project__card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 30px;
  box-shadow: 0 1px 6px #aaa;
}

#project .project__content .project__card .project__img {
  transform: scale(1);
  transition: 0.3s all;
}

#project .project__content .project__card .project__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  opacity: 0;
  transition: 0.3s all;
}

#project .project__content .project__card .project__overlay .project__title {
  font-size: 1.625rem;
}

#project .project__content .project__card .project__overlay .project__text {
  font-size: 13px;
  font-weight: 300;
}

#project .project__content .project__card:hover .project__img {
  transform: scale(1.05);
}

#project .project__content .project__card:hover .project__overlay {
  opacity: 9;
  color: #fff;
}

@media screen and (max-width: 992px) {
  #project .project__content .project__card {
    height: 300px;
  }
}

#contact .contact__content {
  margin-bottom: 50px;
}

#contact .contact__content p {
  margin-bottom: 10px;
}

#contact .contact__content a {
  color: #000;
}

#contact .contact__content a:hover {
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=main.css.map */