#contact {
    .contact__content {
        margin-bottom: $mg-2;
        p {
            margin-bottom: $mg-3 - 5;
        }
        a {
            color: $color-black-1;
            &:hover {
                color: $color-black-2;
            }
        }
    }
}