#project {
    .project__content {
        .project__card {
            position: relative;
            overflow: hidden;
            border-radius: $border-radius-2 * 2;
            margin-bottom: $mg-1;
            box-shadow: $box-shadow-2;
            .project__img {
                transform: scale(1);
                transition: 0.3s all;
            }
            .project__overlay {
                @include overlay;
                text-align: center;
                position: absolute;
                background-color: $color-black-2;
                color: $color-black-1;
                opacity: 0;
                transition: 0.3s all;
                .project__title {
                    font-size: $fs-7;
                }
                .project__text {
                    font-size: $fs-1 - 3;
                    font-weight: $fw-2;
                }
            }
            &:hover {
                .project__img {
                    transform: scale(1.05);
                }
                .project__overlay {
                    opacity: 9;
                    color: $color-white-1;
                }
            }
        }
    }

    // MAX-WIDTH: 992px
    @include responsive(large) {
        .project__content {
            .project__card {
                height: $height-3;
            }
        }
    }
}
