#profile {
    .profile__content {
        .profile__img {
            img {
                border-radius: $border-radius-1;
            }
        }
        .profile__text {
            display: flex;
            align-items: center;
            p {
                padding-left: $pd-2 * 3;
                font-weight: $fw-2;
            }
        }
    }
}