#skill {
    .skill_content {
        .skill__card {
            @include border($mg-2);
            background-color: $color-white-1;
            text-align: center;
            height: $height-3;
            .skill__title {
                margin-bottom: $mg-5;
                font-size: $fs-7;
                padding: $pd-3;
                font-weight: $fw-1;
            }
            .skill__desc {
                ul {
                    list-style: none;
                    margin-bottom: $mg-4;
                    padding-left: unset;
                    li {
                        display: inline-block;
                        width: $width-3;
                        margin-bottom: $mg-3 + 5;
                        font-size: $fs-4;
                    }
                }
                div {
                    margin-bottom: $mg-3;
                    span {
                        font-weight: $fw-2;
                        font-size: $fs-1 - 2;
                    }
                }
                &.skill__others, &.skill__language {
                    ul {
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // MAX-WIDTH: 768px
    @include responsive(medium) {
        .skill_content {
            .skill__card {
                margin-bottom: $mg-1;
            }
        }
    }
}
