body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: $color-grey-1;
}

html {
    font-size: $fs-1;
}

div {
    box-sizing: border-box;
}

.inner {
    width: $width-1;
}

.section-padding {
    padding-top: $pd-1;
    padding-bottom: $pd-2;

    // MAX-WIDTH: 768px
    @include responsive(medium) {
        padding-top: $pd-2 * 5;
    }
}

.title {
    h2 {
        font-size: $fs-6;
        text-align: center;
        margin-bottom: $mg-2;
    }

    // MAX-WIDTH: 768px
    @include responsive(medium) {
        h2 {
            font-size: $fs-3;
            margin-bottom: $mg-1;
        }
    }
}

.col-padding {
    padding-left: $pd-4;
    padding-right: $pd-4;

    @include responsive(extra-large) {
        padding-left: $pd-4 / 2;
        padding-right: $pd-4 / 2;
    }
}

.col-half-padding {
    padding-left: $pd-4 / 2;
    padding-right: $pd-4 / 2;
}