#footer {
    background-color: $color-black-3;
    padding: $pd-2 * 3;
    p {
        margin-top: $mg-1;
        font-size: $fs-1 - 4;
        color: $color-grey-3;
    }

    // MAX-WIDTH: 576px
    @include responsive(small) {
        padding: $pd-2 * 2;
        p {
            margin-top: $mg-1 / 3;
        }
    }
}