#header {
    height: $height-1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white-1;
    .header__logo {
        span {
            &.header__title {
                font-size: $fs-2;
                margin-bottom: $mg-1;
                display: block;
            }
            &:nth-child(2) {
                position: relative;
                display: inline-block;
                font-size: $fs-3;
                .header__overlay {
                    height: $height-4;
                    background-color: $color-white-1;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-left: 1px solid $color-black-1;
                    animation: typing 2s steps(13, end) infinite;
                    -webkit-animation: typing 2s steps(13, end) infinite;
                }
            }
        }
    }

    // MAX-WIDTH: 768px
    @include responsive(medium) {
        height: $height-5;
        .header__logo {
            span {
                &.header__title {
                    font-size: $fs-6;
                    margin-bottom: $mg-1 / 2;
                }
                &:nth-child(2) {
                    font-size: $fs-1;
                }
            }
        }
    }
}

