#portfolioNavbar {
    background-color: $color-grey-1;
    a {
        color: $color-black-1;
        letter-spacing: $letter-spacing-1;
    }
    .navbar-brand {
        font-size: $fs-5;
        width: $width-2;
        height: $height-2;
        line-height: $line-height-1;
        text-align: center;
        padding-top: 0;
        box-shadow: $box-shadow-2
    }
    .nav-link {
        @include navLink($fs-5, $pd-2 - 2 $pd-2 * 2, $color-black-1);
    }

    // RESPONSIVE
    // MAX-WIDTH: 768px
    @include responsive(medium) {
        .nav-link {
        @include navLink($fs-4, $pd-2 - 2 $pd-2 + 2, $color-black-1);
    }
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index-1;
    box-shadow: $box-shadow-1;
}

#footerNavbar {
    &.navbar {
        padding: 0;
        .navbar-nav {
            .nav-item {
                padding-left: $pd-2 * 2;
                padding-right: $pd-2 * 2;
                .nav-link {
                    @include navLink($fs-1, 0, $color-white-1);
                }
            }
        }
    }

    @include responsive(medium) {
        &.navbar {
            .navbar-nav {
                .nav-item {
                    padding-left: $pd-2;
                    padding-right: $pd-2;
                }
            }
        }
    }
}
