@mixin overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border($mg-bottom) {
    border: 1px solid $color-grey-2;
    border-radius: $border-radius-2;
    margin-bottom: $mg-bottom;
}

@mixin navLink($fs, $pd, $color) {
    font-size: $fs;
    padding: $pd;
    transition: 0.3s all;
    color: $color;
    &:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
}

@mixin responsive($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        $breakpoint-value: map-get($map: $breakpoints, $key: $breakpoint);
        @media screen and (max-width: $breakpoint-value) {
            @content;
        }
    }
}

// ANIMATION
@keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
