// COLOR
$color-grey-1: #f3f3f3;
$color-grey-2: rgba(0, 0, 0, .125);
$color-grey-3: #8c8c8c;
$color-white-1: #fff;
$color-black-1: #000;
$color-black-2: rgba(0, 0, 0, .5);
$color-black-3: #333;

// FONT-SIZE
$fs-1: 16px;
$fs-2: 6rem;
$fs-3: 2.25rem;
$fs-4: 18px;
$fs-5: 24px;
$fs-6: 3.5rem;
$fs-7: 1.625rem;

// FONT-WEIGHT
$fw-1: 700;
$fw-2: 300;
$fw-bold: bold;

// MARGIN
$mg-1: 30px;
$mg-2: 50px;
$mg-3: 15px;
$mg-4: 2rem;
$mg-5: 3px;

// PADDING
$pd-1: 7rem;
$pd-2: 10px;
$pd-3: 1.5rem;
$pd-4: 40px;

// HEIGHT
$height-1: 480px;
$height-2: 40px;
$height-3: 300px;
$height-4: 110%;
$height-5: 200px;

// WIDTH
$width-1: 80%;
$width-2: 40px;
$width-3: 33.33%;

// LINE-HEIGHT
$line-height-1: 40px;

// LETTER-SPACING
$letter-spacing-1: 1px;

// BORDER-RADIUS
$border-radius-1: 50%;
$border-radius-2: .25rem;

// SPACE
$space-0: 40px;

// BOX-SHADOW
$box-shadow-1: 0px 6px 3px -3px rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 1px 6px #aaa;

// Z-INDEX
$z-index-1: 10;

// BREAKPOINTS
$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    extra-large: 1200px,
    extra-extra-large: 1400px
);